.dark-mode {
    background-color: darkblue;
    color: white;
}

body { /* html body */
    font-family:'Times New Roman', Times, serif;
    background-color: lightblue;
    color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

button { /* dark mode button */
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 12px;
    width: 100px;
    position: fixed;
    bottom: 5px;
    right: 5px;
}
.header {
    font-size: 30px;
}

.facts {
    padding: 100px;
    text-align: center;
}